html, body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
}

.recording-layout {
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box; 
  padding-left: 25px;
  padding-top: 20px;
  overflow-y: auto; 
}

/*
.side-fake {
  width: 240px;
  background-color: #fff;
}*/

.recording-main {
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box; 
  padding-left: 25px;
  padding-top: 20px;
  overflow-y: auto;

  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; 
}
/*
.recorder-header { 이거없애고싶으니까걍둬야겟다다
  margin-top: 100px;
}

.record-button {
  background: black;
  color: white;
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}*/ 

.countdown-number {
  justify-content: center;
  font-size: 280px;
  font-weight: bold;
  margin: 0 auto;
  animation: fade 0.8s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

/*
.recording-top-bar {
  display: flex;
  justify-content: center;     
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 0 16px;
  gap: 40px;              
}*/

.question-text {
  width: 90%;
  font-size: 24px;
  font-weight: bold;
  
  word-break: keep-all;
}


.timer-box {
  display: flex;
  flex-direction: row;        /* 가로 배치 */
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 20px;
  background-color: #2ed6c3;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-family: 'Courier New', monospace;
  margin-top: 10px;
}

.recording-stop-button {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.time-red,
.time-black {
  font-family: monospace;
  font-size: 28.3px;
  font-weight: bold;
  line-height: 1.0;
}

.time-red {
  color: red;
}

.time-black {
  color: black;
}

.camera-box {
  width: 100%;
  max-width: 1600px;
  aspect-ratio: 16 / 9;
  background-color: #ccc;
  border-radius: 16px;
  overflow: hidden;
  margin: 24px 0;
}

.camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recording-notice {
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 1.6;
  margin-top: auto;
  padding-bottom: 12px;
}