html, body {  
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  /*margin-left: 130px; side 때문에 margin 줘야돼돼요*/
}

.question-confirm-container {
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box; 
  padding-left: 25px;
  /*padding-right: 290px; 뭐가문제지?????/????????ㅜㅜㅜㅜ전에는50px이었는데*/
  overflow-y: auto;
  text-align: center;
  padding-top:20px;
  padding-left: 50px;
  padding-right: 50px;
}
/* 중복으로 둔 이유가 있는지
.question-confirm-main {
  flex: 1;
  padding: 56px;
  overflow-y: auto;
  text-align: center;
}*/

.question-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
}

.confirm-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.btn.gray {
  background-color: #dcdcdc;
  color: #555;
}

.btn.gray:hover {
  background-color: #c7c7c7;
}

.btn.green {
  background-color: #51E0C4;
  color: #fff;
}

.btn.green:hover {
  background-color: #3cc7a9;
}

/* 영상 첨부 확인/재첨부/분석 완료 관련 스타일 */
/*
.btn.confirm {
  background-color: #cce5ff;
  color: #2c2c2c;
}

.btn.confirm:hover {
  background-color: #b3d8fd;
}

.btn.redo {
  background-color: #ffe3e3;
  color: #c13d3d;
}

.btn.redo:hover {
  background-color: #ffc7c7;
}

.video-preview {
  font-size: 20px;
  color: #666;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-status.done {
  color: green;
  font-weight: bold;
  margin-top: 16px;
}
*/

.notice-text {
  font-size: 20px;
  color: #666;
  line-height: 2;
  text-align: center;
  margin-bottom: 10px;
}

/*
.attach-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 64px;
  margin-top: 60px;
}

.btn.attach {
  background-color: #ececec;
  color: #999;
  font-weight: 600;
  padding: 18px 32px;
  font-size: 22px;
}
*/