.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 28px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.logo img {
  width: 150px; /* 로고 크기 조정 */
  height: auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.top-menu {
  flex-grow: 0;
}

.bottom-menu {
  margin-top: auto;
}

.menu li {
  font-size: 18px;
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.menu li:hover {
  background-color: #e5e7eb;
  border-radius: 8px;
}

