/*.result-card {
  border: 1px solid #51E0C4; 
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}

.gold-card {
  border-color:gold;
}*/

.result-card {
  margin-top:0px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

/*.user-icon {
  
}
*/

.voucher-tag {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.gold-tag {
  color: gold;
}

.free-tag {
  color: #51E0C4; 
}

.question-btn,
.interview-btn,
.delete-btn {
  display: block;
  word-break: keep-all;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s easee, border-color 0.2s ease; ;
}

.question-btn {
  background-color: #E0FFF5;
  border: 2px solid #E0FFF5; 
  color: #777;
  
}

.question-btn:hover {
  background-color: #b5e3d8;
  border: 2px solid #b5e3d8;
  color: #666;
}

.interview-btn {
  background-color: #51E0C4; 
  border: 2px solid #51E0C4; 
  color: #fff;
}

.interview-btn.disabled {
  /*background-color: #ccc;
  border: 2px solid #ccc;
  cursor: not-allowed; 비활성버튼들스타일맞추기*/

  background-color: #e0e0e0;
  border: 2px solid #e0e0e0;
  color: #999;
  cursor: not-allowed;
}

.interview-btn.active:hover {
  background-color: #3cc7a9;
  border: 2px solid #3cc7a9;
}

.delete-btn {
  background-color: #777;
  border: 2px solid #777;
  color: #fff;
}

.delete-btn:hover {
  background-color: #666;
  border: 2px solid #666;
}
